/**/
@use "sass:color";


$black: black;
$white: white;
$darkmode: rgba(33,37,41,1);
// $dark: #eaeaea;
$dark: $darkmode;
$bright: #eaeaea;

$black1: color.scale($black, $lightness: 10%);
$black2: color.scale($black, $lightness: 20%);
$black3: color.scale($black, $lightness: 30%);
$black4: color.scale($black, $lightness: 40%);
$black5: color.scale($black, $lightness: 50%);

$white1: color.scale($white, $lightness: -10%);
$white2: color.scale($white, $lightness: -20%);
$white3: color.scale($white, $lightness: -30%);
$white4: color.scale($white, $lightness: -40%);
$white5: color.scale($white, $lightness: -50%);

$dark1: color.scale($dark, $lightness: 10%);
$dark2: color.scale($dark, $lightness: 20%);
$dark3: color.scale($dark, $lightness: 30%);
$dark4: color.scale($dark, $lightness: 40%);
$dark5: color.scale($dark, $lightness: 50%);

$bright1: color.scale($bright, $lightness: 10%);
$bright2: color.scale($bright, $lightness: 20%);
$bright3: color.scale($bright, $lightness: 30%);
$bright4: color.scale($bright, $lightness: 40%);
$bright5: color.scale($bright, $lightness: 50%);



$shadow0: 8px 25px 45px -12px rgba(94, 94, 94, 0.62);
$shadow0_: 8px 25px 45px -0px rgba(94, 94, 94, 1);
$shadow1: 8px 8px 45px -12px rgba(94, 94, 94, 0.62);
$shadow2: 0px 5px 30px -10px rgb(94 94 94 / 62%);
